<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Product Information</title>
    </head>
    <style>          
        .body {
            margin: 0px;
        }
                
        .internal-div {
            margin: 0px 0px 0px 0px;
            height: {{height}}px;
            width: {{width}}px;
            background-image: url('{{background_img_name}}.jpg');
        }

        .product-div {
            padding: 110px 5px 5px 5px;
            min-height: 680px;
        }

        .price-div {
            
            box-sizing: border-box;
            color: rgb(15, 17, 17);
            display: inline;
            font-family: Arial, sans-serif;
            font-size: 28px;
            height: auto;
            line-height: normal;
            text-size-adjust: 100%;
            width: auto;
        }

        .old-price-div {
            text-align: center;
            font-size: 25px;
            margin: 0px 0px 0px 0px;
            color: rgb(86, 89, 89);
        }

        .price {
            text-align: center;
            padding-left: 50px;
        }

        .old-price {
            text-decoration: line-through;
        }
        
        .title {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            max-width: 650px;
            font-family: serif;
            font-size: 45px;
            text-align: left;
            color: #4a4a4a;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }

        .product-img {
            /* Background pattern from Toptal Subtle Patterns */
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 767px;
            height: 545px;
        }

        .price-img {
            /* Background pattern from Toptal Subtle Patterns */
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 767px;
            padding-top: 25px;
            height: 400px;
        }
    </style>
    
<body class="body">
    <div class="internal-div">
    <div class="product-div">
        <img src="{{image_path}}" class="product-img">
        <img src="{{price_path}}" class="price-img">
    </div>
    </div>
</body>
</html>